In [76]:
# import necessary libraries for this project
import pandas as pd
import numpy as np

In [77]:
# read data from csv file 
data = pd.read_csv("atpmatches2015-2016-2017.csv")
print(data)

                     tourney_name surface  draw_size tourney_level  \
0                           Tokyo    Hard       32.0             A
1                           Tokyo    Hard       32.0             A
2                           Tokyo    Hard       32.0             A
3                           Tokyo    Hard       32.0             A
4                           Tokyo    Hard       32.0             A
...                           ...     ...        ...           ...
6345  Davis Cup WG R1: RUS vs SRB    Hard        4.0             D
6346  Davis Cup WG R1: SUI vs USA    Hard        4.0             D
6347  Davis Cup WG R1: SUI vs USA    Hard        4.0             D
6348  Davis Cup WG R1: SUI vs USA    Hard        4.0             D
6349  Davis Cup WG R1: SUI vs USA    Hard        4.0             D

      tourney_date  match_num  winner_id         winner_name winner_hand  \
0       20151005.0        1.0   104527.0  Stanislas Wawrinka           R
1       20151005.0        2.0   105147.0         Tatsuma Ito           R
2       20151005.0        3.0   105572.0     Austin Krajicek           L
3       20151005.0        4.0   105311.0          Joao Sousa           R
4       20151005.0        5.0   104468.0        Gilles Simon           R
...            ...        ...        ...                 ...         ...
6345    20170203.0        5.0   106421.0     Daniil Medvedev           R
6346    20170203.0        1.0   106058.0           Jack Sock           R
6347    20170203.0        2.0   104545.0          John Isner           R
6348    20170203.0        4.0   105023.0         Sam Querrey           R
6349    20170203.0        5.0   105449.0       Steve Johnson           R

      winner_ht  ... winner_rank_points  loser_id          loser_name  \
0         183.0  ...             6005.0  103285.0      Radek Stepanek
1         180.0  ...              444.0  106415.0  Yoshihito Nishioka
2           NaN  ...              450.0  105051.0       Matthew Ebden
3           NaN  ...              951.0  103852.0     Feliciano Lopez
4         183.0  ...             2530.0  104022.0     Mikhail Youzhny
...         ...  ...                ...       ...                 ...
6345        NaN  ...              749.0  102800.0      Nenad Zimonjic
6346      185.0  ...             1855.0  103843.0   Marco Chiudinelli
6347      206.0  ...             1715.0  105967.0     Henri Laaksonen
6348      198.0  ...             1435.0  104847.0       Adrien Bossel
6349      188.0  ...             1345.0  134472.0     Antoine Bellier

      loser_hand  loser_ht loser_ioc  loser_age  loser_rank_points  \
0              R     185.0       CZE  36.854209              187.0
1              L       NaN       JPN  20.021903              377.0
2              R     188.0       AUS  27.857632              430.0
3              L     188.0       ESP  34.039699             2040.0
4              R     183.0       RUS  33.278576              581.0
...          ...       ...       ...        ...                ...
6345           R     190.0       SRB  40.657084                NaN
6346           R     185.0       SUI  35.389459              414.0
6347           R       NaN       SUI  24.835044              473.0
6348           L       NaN       SUI  30.091718               78.0
6349           U       NaN       SUI  20.284736               52.0

                   score  round
0                7-5 6-3    R32
1            3-6 6-0 7-5    R32
2      5-7 7-6(4) 7-6(5)    R32
3            6-4 4-6 6-1    R32
4                6-4 6-4    R32
...                  ...    ...
6345            Walkover     RR
6346         6-4 6-3 6-1     RR
6347  4-6 6-2 6-2 7-6(1)     RR
6348             6-3 7-5     RR
6349             6-4 6-3     RR

[6350 rows x 23 columns]

In [78]:
# display a sample of the data
data.head()

,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_name,winner_hand,winner_ht,...,winner_rank_points,loser_id,loser_name,loser_hand,loser_ht,loser_ioc,loser_age,loser_rank_points,score,round
0,Tokyo,Hard,32.0,A,20151005.0,1.0,104527.0,Stanislas Wawrinka,R,183.0,...,6005.0,103285.0,Radek Stepanek,R,185.0,CZE,36.854209,187.0,7-5 6-3,R32
1,Tokyo,Hard,32.0,A,20151005.0,2.0,105147.0,Tatsuma Ito,R,180.0,...,444.0,106415.0,Yoshihito Nishioka,L,NaN,JPN,20.021903,377.0,3-6 6-0 7-5,R32
2,Tokyo,Hard,32.0,A,20151005.0,3.0,105572.0,Austin Krajicek,L,NaN,...,450.0,105051.0,Matthew Ebden,R,188.0,AUS,27.857632,430.0,5-7 7-6(4) 7-6(5),R32
3,Tokyo,Hard,32.0,A,20151005.0,4.0,105311.0,Joao Sousa,R,NaN,...,951.0,103852.0,Feliciano Lopez,L,188.0,ESP,34.039699,2040.0,6-4 4-6 6-1,R32
4,Tokyo,Hard,32.0,A,20151005.0,5.0,104468.0,Gilles Simon,R,183.0,...,2530.0,104022.0,Mikhail Youzhny,R,183.0,RUS,33.278576,581.0,6-4 6-4,R32

In [79]:
# list all columns
data.columns

Index(['tourney_name', 'surface', 'draw_size', 'tourney_level', 'tourney_date',
       'match_num', 'winner_id', 'winner_name', 'winner_hand', 'winner_ht',
       'winner_ioc', 'winner_age', 'winner_rank', 'winner_rank_points',
       'loser_id', 'loser_name', 'loser_hand', 'loser_ht', 'loser_ioc',
       'loser_age', 'loser_rank_points', 'score', 'round'],
      dtype='object')

In [80]:
#identify null values in each column
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6350 entries, 0 to 6349
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tourney_name        6287 non-null   object
 1   surface             6287 non-null   object
 2   draw_size           6287 non-null   float64
 3   tourney_level       6287 non-null   object
 4   tourney_date        6287 non-null   float64
 5   match_num           6287 non-null   float64
 6   winner_id           6287 non-null   float64
 7   winner_name         6287 non-null   object
 8   winner_hand         6278 non-null   object
 9   winner_ht           4840 non-null   float64
 10  winner_ioc          6287 non-null   object
 11  winner_age          6281 non-null   float64
 12  winner_rank         6231 non-null   float64
 13  winner_rank_points  6231 non-null   float64
 14  loser_id            6287 non-null   float64
 15  loser_name          6287 non-null   object
 16  loser_hand          6267 non-null   object
 17  loser_ht            4350 non-null   float64
 18  loser_ioc           6287 non-null   object
 19  loser_age           6275 non-null   float64
 20  loser_rank_points   6169 non-null   float64
 21  score               6287 non-null   object
 22  round               6287 non-null   object
dtypes: float64(12), object(11)
memory usage: 868.2+ KB

In [81]:
# Number of rows where all values are null
data.isnull().all(axis=1).sum()

63

In [82]:
# Number of rows after drop null rows
len(data)-data.isnull().all(axis=1).sum()

6287

In [83]:
# call rows where all values are null
data[data.isnull().all(axis=1)]

,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_name,winner_hand,winner_ht,...,winner_rank_points,loser_id,loser_name,loser_hand,loser_ht,loser_ioc,loser_age,loser_rank_points,score,round
4926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4928,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4930,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4932,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4934,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5043,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5045,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5047,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5051,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
# make a copy of the data to start the cleaning
tennis_data = data.copy()

In [85]:
# display sample of the copied data
tennis_data.head()

,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_name,winner_hand,winner_ht,...,winner_rank_points,loser_id,loser_name,loser_hand,loser_ht,loser_ioc,loser_age,loser_rank_points,score,round
0,Tokyo,Hard,32.0,A,20151005.0,1.0,104527.0,Stanislas Wawrinka,R,183.0,...,6005.0,103285.0,Radek Stepanek,R,185.0,CZE,36.854209,187.0,7-5 6-3,R32
1,Tokyo,Hard,32.0,A,20151005.0,2.0,105147.0,Tatsuma Ito,R,180.0,...,444.0,106415.0,Yoshihito Nishioka,L,NaN,JPN,20.021903,377.0,3-6 6-0 7-5,R32
2,Tokyo,Hard,32.0,A,20151005.0,3.0,105572.0,Austin Krajicek,L,NaN,...,450.0,105051.0,Matthew Ebden,R,188.0,AUS,27.857632,430.0,5-7 7-6(4) 7-6(5),R32
3,Tokyo,Hard,32.0,A,20151005.0,4.0,105311.0,Joao Sousa,R,NaN,...,951.0,103852.0,Feliciano Lopez,L,188.0,ESP,34.039699,2040.0,6-4 4-6 6-1,R32
4,Tokyo,Hard,32.0,A,20151005.0,5.0,104468.0,Gilles Simon,R,183.0,...,2530.0,104022.0,Mikhail Youzhny,R,183.0,RUS,33.278576,581.0,6-4 6-4,R32

In [86]:
# drop all "how='all'" null rows "axis=0" using store it in the same dataframe "inplace=True"
tennis_data.dropna(axis= 0, how='all', inplace=True)

In [87]:
# check if the null values are dropped or not and number of rows are as expected
tennis_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6287 entries, 0 to 6349
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tourney_name        6287 non-null   object
 1   surface             6287 non-null   object
 2   draw_size           6287 non-null   float64
 3   tourney_level       6287 non-null   object
 4   tourney_date        6287 non-null   float64
 5   match_num           6287 non-null   float64
 6   winner_id           6287 non-null   float64
 7   winner_name         6287 non-null   object
 8   winner_hand         6278 non-null   object
 9   winner_ht           4840 non-null   float64
 10  winner_ioc          6287 non-null   object
 11  winner_age          6281 non-null   float64
 12  winner_rank         6231 non-null   float64
 13  winner_rank_points  6231 non-null   float64
 14  loser_id            6287 non-null   float64
 15  loser_name          6287 non-null   object
 16  loser_hand          6267 non-null   object
 17  loser_ht            4350 non-null   float64
 18  loser_ioc           6287 non-null   object
 19  loser_age           6275 non-null   float64
 20  loser_rank_points   6169 non-null   float64
 21  score               6287 non-null   object
 22  round               6287 non-null   object
dtypes: float64(12), object(11)
memory usage: 908.7+ KB

In [88]:
tennis_data.isnull().all(axis=1).sum()

0

In [89]:
# Identify number of null values in each column
tennis_data.count()-len(tennis_data)

tourney_name             0
surface                  0
draw_size                0
tourney_level            0
tourney_date             0
match_num                0
winner_id                0
winner_name              0
winner_hand             -9
winner_ht            -1447
winner_ioc               0
winner_age              -6
winner_rank            -56
winner_rank_points     -56
loser_id                 0
loser_name               0
loser_hand             -20
loser_ht             -1937
loser_ioc                0
loser_age              -12
loser_rank_points     -118
score                    0
round                    0
dtype: int64

### Start processing missing data

In [90]:
# calculate number of players using each hand
print(tennis_data['winner_hand'].value_counts())
print(' ')
print(tennis_data['loser_hand'].value_counts())

R    5298
L     835
U     145
Name: winner_hand, dtype: int64

R    5070
L     911
U     286
Name: loser_hand, dtype: int64

In [91]:
# percentage of using each hand for winner
print(tennis_data['winner_hand'].value_counts()/len(tennis_data)*100)
print(' ')
# percentage of using each hand for winner
print(tennis_data['loser_hand'].value_counts()/len(tennis_data)*100)

R    84.269127
L    13.281374
U     2.306346
Name: winner_hand, dtype: float64

R    80.642596
L    14.490218
U     4.549070
Name: loser_hand, dtype: float64

In [92]:
# based on the above values I will assume that the missing values is 'R'
tennis_data['winner_hand'].fillna('R', inplace=True)
print(tennis_data['winner_hand'].value_counts())
print(' ')
tennis_data['loser_hand'].fillna('R', inplace=True)
print(tennis_data['loser_hand'].value_counts())

R    5307
L     835
U     145
Name: winner_hand, dtype: int64

R    5090
L     911
U     286
Name: loser_hand, dtype: int64

In [93]:
tennis_data['winner_ht'].value_counts()

188.0    878
185.0    659
183.0    629
190.0    529
193.0    426
178.0    326
196.0    312
180.0    280
175.0    187
198.0    171
163.0     93
203.0     92
206.0     81
208.0     74
173.0     36
172.0     33
181.0     31
194.0      3
Name: winner_ht, dtype: int64

In [94]:
print(tennis_data['winner_ht'].mean())
print(' ')
print(tennis_data['loser_ht'].mean())

186.98078512396694

186.59310344827585

In [95]:
# based on the above values I will replace the missing values with the average
tennis_data['winner_ht'].fillna(tennis_data['winner_ht'].mean(), inplace=True)
print(tennis_data['winner_ht'].value_counts())
print(' ')
tennis_data['loser_ht'].fillna(tennis_data['loser_ht'].mean(), inplace=True)
print(tennis_data['loser_ht'].value_counts())

186.980785    1447
188.000000     878
185.000000     659
183.000000     629
190.000000     529
193.000000     426
178.000000     326
196.000000     312
180.000000     280
175.000000     187
198.000000     171
163.000000      93
203.000000      92
206.000000      81
208.000000      74
173.000000      36
172.000000      33
181.000000      31
194.000000       3
Name: winner_ht, dtype: int64

186.593103    1937
188.000000     746
183.000000     644
185.000000     569
190.000000     503
193.000000     397
180.000000     341
178.000000     261
196.000000     230
175.000000     174
198.000000     109
203.000000      89
163.000000      52
208.000000      51
173.000000      49
206.000000      48
181.000000      38
172.000000      33
194.000000      16
Name: loser_ht, dtype: int64

In [96]:
tennis_data['winner_age'].value_counts()

27.969884    13
27.663244    12
25.114305    12
30.466804    11
27.797399    11
             ..
21.724846     1
32.438056     1
23.162218     1
20.665298     1
26.932238     1
Name: winner_age, Length: 2682, dtype: int64

In [97]:
print(tennis_data['winner_age'].mean())
print(' ')
print(tennis_data['loser_age'].mean())

27.92118424575864

27.557044975454986

In [98]:
# based on the above values I will replace the missing values with the average
tennis_data['winner_age'].fillna(tennis_data['winner_age'].mean(), inplace=True)
print(tennis_data['winner_age'].value_counts())
print(' ')
tennis_data['loser_age'].fillna(tennis_data['loser_age'].mean(), inplace=True)
print(tennis_data['loser_age'].value_counts())

27.969884    13
25.114305    12
27.663244    12
27.797399    11
28.238193    11
             ..
21.724846     1
32.438056     1
23.162218     1
20.665298     1
26.932238     1
Name: winner_age, Length: 2683, dtype: int64

27.557045    12
28.539357     7
25.344285     6
29.505818     6
29.418207     6
             ..
17.114305     1
23.044490     1
19.143053     1
22.965092     1
28.000000     1
Name: loser_age, Length: 3910, dtype: int64

In [99]:
tennis_data.count()-len(tennis_data)

tourney_name            0
surface                 0
draw_size               0
tourney_level           0
tourney_date            0
match_num               0
winner_id               0
winner_name             0
winner_hand             0
winner_ht               0
winner_ioc              0
winner_age              0
winner_rank           -56
winner_rank_points    -56
loser_id                0
loser_name              0
loser_hand              0
loser_ht                0
loser_ioc               0
loser_age               0
loser_rank_points    -118
score                   0
round                   0
dtype: int64

In [100]:
tennis_data['winner_rank'].value_counts()

1.0      157
2.0      140
5.0      126
3.0      113
15.0     101
        ...
308.0      1
235.0      1
249.0      1
414.0      1
541.0      1
Name: winner_rank, Length: 470, dtype: int64

In [101]:
tennis_data.corr()

,draw_size,tourney_date,match_num,winner_id,winner_ht,winner_age,winner_rank,winner_rank_points,loser_id,loser_ht,loser_age,loser_rank_points
draw_size,1.000000,0.057124,0.132852,-0.103410,0.027943,0.075324,-0.251009,0.203646,-0.140458,-0.006748,0.089857,0.113848
tourney_date,0.057124,1.000000,0.695115,0.093210,-0.025117,0.011356,0.054176,-0.030806,0.142273,-0.023297,0.008514,-0.008641
match_num,0.132852,0.695115,1.000000,-0.059715,-0.004261,0.070879,-0.169712,0.068748,-0.087462,-0.008686,0.114953,0.107602
winner_id,-0.103410,0.093210,-0.059715,1.000000,-0.007571,-0.344543,0.339921,-0.101092,0.218919,-0.009849,-0.091751,-0.066883
winner_ht,0.027943,-0.025117,-0.004261,-0.007571,1.000000,0.048465,-0.026758,0.027800,-0.004048,-0.007392,-0.005619,0.050028
winner_age,0.075324,0.011356,0.070879,-0.344543,0.048465,1.000000,-0.188634,0.148944,-0.084648,0.016629,0.041617,0.046235
winner_rank,-0.251009,0.054176,-0.169712,0.339921,-0.026758,-0.188634,1.000000,-0.286587,0.294507,-0.013717,-0.141967,-0.163824
winner_rank_points,0.203646,-0.030806,0.068748,-0.101092,0.027800,0.148944,-0.286587,1.000000,-0.090760,0.036024,0.074694,0.285624
loser_id,-0.140458,0.142273,-0.087462,0.218919,-0.004048,-0.084648,0.294507,-0.090760,1.000000,-0.002829,-0.393122,-0.132073
loser_ht,-0.006748,-0.023297,-0.008686,-0.009849,-0.007392,0.016629,-0.013717,0.036024,-0.002829,1.000000,0.022159,0.059044
loser_age,0.089857,0.008514,0.114953,-0.091751,-0.005619,0.041617,-0.141967,0.074694,-0.393122,0.022159,1.000000,0.153031
loser_rank_points,0.113848,-0.008641,0.107602,-0.066883,0.050028,0.046235,-0.163824,0.285624,-0.132073,0.059044,0.153031,1.000000

In [102]:
tennis_data['winner_rank_points'].value_counts()

1450.0    24
1150.0    23
1675.0    23
895.0     22
1125.0    21
          ..
4075.0     1
9485.0     1
131.0      1
526.0      1
1644.0     1
Name: winner_rank_points, Length: 1448, dtype: int64

In [103]:
tennis_data['loser_rank_points'].value_counts()

770.0     25
1.0       23
790.0     21
1100.0    20
895.0     20
          ..
281.0      1
4720.0     1
365.0      1
2545.0     1
2105.0     1
Name: loser_rank_points, Length: 1582, dtype: int64

In [104]:
tennis_data.fillna(0)

,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_name,winner_hand,winner_ht,...,winner_rank_points,loser_id,loser_name,loser_hand,loser_ht,loser_ioc,loser_age,loser_rank_points,score,round
0,Tokyo,Hard,32.0,A,20151005.0,1.0,104527.0,Stanislas Wawrinka,R,183.000000,...,6005.0,103285.0,Radek Stepanek,R,185.000000,CZE,36.854209,187.0,7-5 6-3,R32
1,Tokyo,Hard,32.0,A,20151005.0,2.0,105147.0,Tatsuma Ito,R,180.000000,...,444.0,106415.0,Yoshihito Nishioka,L,186.593103,JPN,20.021903,377.0,3-6 6-0 7-5,R32
2,Tokyo,Hard,32.0,A,20151005.0,3.0,105572.0,Austin Krajicek,L,186.980785,...,450.0,105051.0,Matthew Ebden,R,188.000000,AUS,27.857632,430.0,5-7 7-6(4) 7-6(5),R32
3,Tokyo,Hard,32.0,A,20151005.0,4.0,105311.0,Joao Sousa,R,186.980785,...,951.0,103852.0,Feliciano Lopez,L,188.000000,ESP,34.039699,2040.0,6-4 4-6 6-1,R32
4,Tokyo,Hard,32.0,A,20151005.0,5.0,104468.0,Gilles Simon,R,183.000000,...,2530.0,104022.0,Mikhail Youzhny,R,183.000000,RUS,33.278576,581.0,6-4 6-4,R32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6345,Davis Cup WG R1: RUS vs SRB,Hard,4.0,D,20170203.0,5.0,106421.0,Daniil Medvedev,R,186.980785,...,749.0,102800.0,Nenad Zimonjic,R,190.000000,SRB,40.657084,0.0,Walkover,RR
6346,Davis Cup WG R1: SUI vs USA,Hard,4.0,D,20170203.0,1.0,106058.0,Jack Sock,R,185.000000,...,1855.0,103843.0,Marco Chiudinelli,R,185.000000,SUI,35.389459,414.0,6-4 6-3 6-1,RR
6347,Davis Cup WG R1: SUI vs USA,Hard,4.0,D,20170203.0,2.0,104545.0,John Isner,R,206.000000,...,1715.0,105967.0,Henri Laaksonen,R,186.593103,SUI,24.835044,473.0,4-6 6-2 6-2 7-6(1),RR
6348,Davis Cup WG R1: SUI vs USA,Hard,4.0,D,20170203.0,4.0,105023.0,Sam Querrey,R,198.000000,...,1435.0,104847.0,Adrien Bossel,L,186.593103,SUI,30.091718,78.0,6-3 7-5,RR
6349,Davis Cup WG R1: SUI vs USA,Hard,4.0,D,20170203.0,5.0,105449.0,Steve Johnson,R,188.000000,...,1345.0,134472.0,Antoine Bellier,U,186.593103,SUI,20.284736,52.0,6-4 6-3,RR

In [105]:
tennis_data.drop(['score'], axis=1, inplace=True)

In [106]:
tennis_data

,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_name,winner_hand,winner_ht,...,winner_rank,winner_rank_points,loser_id,loser_name,loser_hand,loser_ht,loser_ioc,loser_age,loser_rank_points,round
0,Tokyo,Hard,32.0,A,20151005.0,1.0,104527.0,Stanislas Wawrinka,R,183.000000,...,4.0,6005.0,103285.0,Radek Stepanek,R,185.000000,CZE,36.854209,187.0,R32
1,Tokyo,Hard,32.0,A,20151005.0,2.0,105147.0,Tatsuma Ito,R,180.000000,...,127.0,444.0,106415.0,Yoshihito Nishioka,L,186.593103,JPN,20.021903,377.0,R32
2,Tokyo,Hard,32.0,A,20151005.0,3.0,105572.0,Austin Krajicek,L,186.980785,...,124.0,450.0,105051.0,Matthew Ebden,R,188.000000,AUS,27.857632,430.0,R32
3,Tokyo,Hard,32.0,A,20151005.0,4.0,105311.0,Joao Sousa,R,186.980785,...,45.0,951.0,103852.0,Feliciano Lopez,L,188.000000,ESP,34.039699,2040.0,R32
4,Tokyo,Hard,32.0,A,20151005.0,5.0,104468.0,Gilles Simon,R,183.000000,...,10.0,2530.0,104022.0,Mikhail Youzhny,R,183.000000,RUS,33.278576,581.0,R32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6345,Davis Cup WG R1: RUS vs SRB,Hard,4.0,D,20170203.0,5.0,106421.0,Daniil Medvedev,R,186.980785,...,63.0,749.0,102800.0,Nenad Zimonjic,R,190.000000,SRB,40.657084,NaN,RR
6346,Davis Cup WG R1: SUI vs USA,Hard,4.0,D,20170203.0,1.0,106058.0,Jack Sock,R,185.000000,...,20.0,1855.0,103843.0,Marco Chiudinelli,R,185.000000,SUI,35.389459,414.0,RR
6347,Davis Cup WG R1: SUI vs USA,Hard,4.0,D,20170203.0,2.0,104545.0,John Isner,R,206.000000,...,23.0,1715.0,105967.0,Henri Laaksonen,R,186.593103,SUI,24.835044,473.0,RR
6348,Davis Cup WG R1: SUI vs USA,Hard,4.0,D,20170203.0,4.0,105023.0,Sam Querrey,R,198.000000,...,27.0,1435.0,104847.0,Adrien Bossel,L,186.593103,SUI,30.091718,78.0,RR
6349,Davis Cup WG R1: SUI vs USA,Hard,4.0,D,20170203.0,5.0,105449.0,Steve Johnson,R,188.000000,...,31.0,1345.0,134472.0,Antoine Bellier,U,186.593103,SUI,20.284736,52.0,RR

In [107]:
tennis_data.head()

,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_name,winner_hand,winner_ht,...,winner_rank,winner_rank_points,loser_id,loser_name,loser_hand,loser_ht,loser_ioc,loser_age,loser_rank_points,round
0,Tokyo,Hard,32.0,A,20151005.0,1.0,104527.0,Stanislas Wawrinka,R,183.000000,...,4.0,6005.0,103285.0,Radek Stepanek,R,185.000000,CZE,36.854209,187.0,R32
1,Tokyo,Hard,32.0,A,20151005.0,2.0,105147.0,Tatsuma Ito,R,180.000000,...,127.0,444.0,106415.0,Yoshihito Nishioka,L,186.593103,JPN,20.021903,377.0,R32
2,Tokyo,Hard,32.0,A,20151005.0,3.0,105572.0,Austin Krajicek,L,186.980785,...,124.0,450.0,105051.0,Matthew Ebden,R,188.000000,AUS,27.857632,430.0,R32
3,Tokyo,Hard,32.0,A,20151005.0,4.0,105311.0,Joao Sousa,R,186.980785,...,45.0,951.0,103852.0,Feliciano Lopez,L,188.000000,ESP,34.039699,2040.0,R32
4,Tokyo,Hard,32.0,A,20151005.0,5.0,104468.0,Gilles Simon,R,183.000000,...,10.0,2530.0,104022.0,Mikhail Youzhny,R,183.000000,RUS,33.278576,581.0,R32

In [108]:
tennis_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6287 entries, 0 to 6349
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tourney_name        6287 non-null   object
 1   surface             6287 non-null   object
 2   draw_size           6287 non-null   float64
 3   tourney_level       6287 non-null   object
 4   tourney_date        6287 non-null   float64
 5   match_num           6287 non-null   float64
 6   winner_id           6287 non-null   float64
 7   winner_name         6287 non-null   object
 8   winner_hand         6287 non-null   object
 9   winner_ht           6287 non-null   float64
 10  winner_ioc          6287 non-null   object
 11  winner_age          6287 non-null   float64
 12  winner_rank         6231 non-null   float64
 13  winner_rank_points  6231 non-null   float64
 14  loser_id            6287 non-null   float64
 15  loser_name          6287 non-null   object
 16  loser_hand          6287 non-null   object
 17  loser_ht            6287 non-null   float64
 18  loser_ioc           6287 non-null   object
 19  loser_age           6287 non-null   float64
 20  loser_rank_points   6169 non-null   float64
 21  round               6287 non-null   object
dtypes: float64(12), object(10)
memory usage: 884.1+ KB

In [109]:
tennis_data['round'].value_counts()

R32     1900
R16     1096
R64      896
RR       722
R128     704
QF       548
SF       280
F        140
BR         1
Name: round, dtype: int64

In [110]:
pd.get_dummies(tennis_data)

,draw_size,tourney_date,match_num,winner_id,winner_ht,winner_age,winner_rank,winner_rank_points,loser_id,loser_ht,...,loser_ioc_ZIM,round_BR,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,32.0,20151005.0,1.0,104527.0,183.000000,30.521561,4.0,6005.0,103285.0,185.000000,...,0,0,0,0,0,0,1,0,0,0
1,32.0,20151005.0,2.0,105147.0,180.000000,27.381246,127.0,444.0,106415.0,186.593103,...,0,0,0,0,0,0,1,0,0,0
2,32.0,20151005.0,3.0,105572.0,186.980785,25.303217,124.0,450.0,105051.0,188.000000,...,0,0,0,0,0,0,1,0,0,0
3,32.0,20151005.0,4.0,105311.0,186.980785,26.516085,45.0,951.0,103852.0,188.000000,...,0,0,0,0,0,0,1,0,0,0
4,32.0,20151005.0,5.0,104468.0,183.000000,30.770705,10.0,2530.0,104022.0,183.000000,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6345,4.0,20170203.0,5.0,106421.0,186.980785,20.969199,63.0,749.0,102800.0,190.000000,...,0,0,0,0,0,0,0,0,1,0
6346,4.0,20170203.0,1.0,106058.0,185.000000,24.350445,20.0,1855.0,103843.0,185.000000,...,0,0,0,0,0,0,0,0,1,0
6347,4.0,20170203.0,2.0,104545.0,206.000000,31.764545,23.0,1715.0,105967.0,186.593103,...,0,0,0,0,0,0,0,0,1,0
6348,4.0,20170203.0,4.0,105023.0,198.000000,29.316906,27.0,1435.0,104847.0,186.593103,...,0,0,0,0,0,0,0,0,1,0
6349,4.0,20170203.0,5.0,105449.0,188.000000,27.101985,31.0,1345.0,134472.0,186.593103,...,0,0,0,0,0,0,0,0,1,0